@import 'animate.min.css';
@import 'fonts';
@import 'mixins';

.delay-125ms{
  @include delay-animation(125ms);
}
.delay-250ms{
  @include delay-animation(250ms);
}
.delay-375ms{
  @include delay-animation(375ms);
}
.delay-500ms{
  @include delay-animation(500ms);
}
.delay-750ms{
  @include delay-animation(750ms);
}
.delay-1s{
  @include delay-animation(1s);
}
.delay-12s{
  @include delay-animation(1250ms);
}


body,html{
  width: 100%;
  overflow-x:hidden;
  padding:0;
  margin:0;
  font-size: 16px;
  color: rgba(0,0,0,.7);
  font-family: "Roboto", sans-serif;
  font-weight:500;
}

.col-xs-5in1,
.col-sm-5in1,
.col-md-5in1,
.col-lg-5in1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5in1 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5in1 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5in1 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5in1 {
    width: 20%;
    float: left;
  }
}