@import 'animate.min.css';
@import 'fonts';
@import 'mixins';

.delay-125ms{
  @include delay-animation(125ms);
}
.delay-250ms{
  @include delay-animation(250ms);
}
.delay-375ms{
  @include delay-animation(375ms);
}
.delay-500ms{
  @include delay-animation(500ms);
}
.delay-750ms{
  @include delay-animation(750ms);
}
.delay-1s{
  @include delay-animation(1s);
}
.delay-12s{
  @include delay-animation(1250ms);
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #f0efef;
}

::-webkit-scrollbar
{
  width: 9px;
  background-color: #f0efef;
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.3);
  background-color: #9f9f9f;
}

$redNimi: #ff0d4c;
$purpleNimi: #cd036f;
$blueNimi: #038dca;
$limeNimi: #a4be15;
$orangeNimi: #ff8707;

$white: white;
$black: black;
$grey: grey;


$border-radius:10px;
$cute-shadow:0 16px 38px -21px rgba(0,0,0,.9);

body,html{
  width: 100%;
  overflow-x:hidden;
  padding:0;
  margin:0;
  font-size: 16px;
  color: rgba(0,0,0,.7);
  font-family: "Roboto", sans-serif;
  font-weight:500;
}
h1,h2,h3,h4,h5,h6{
  font-weight:700;
}
.flex-container{
  display: flex;
}

.btn{
  border-radius: $border-radius;
  position: relative;
  @include transition(50ms);
  &.btn.active, &.btn:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
    top:3px;
    margin-top:3px;
  }
  &.btn-purple{
    background:$purpleNimi;
    border-bottom:4px solid darken($purpleNimi, 10%);
    color:$white;
    &.btn.active, &.btn:active {
      border-bottom:1px solid darken($purpleNimi, 10%);;
    }
  }
  &.btn-red{
    background:$redNimi;
    border-bottom:4px solid darken($redNimi, 10%);
    color:$white;
  }
  &.btn-blue{
    background:$blueNimi;
    border-bottom:4px solid darken($blueNimi, 10%);
    color:$white;
    &.btn.active, &.btn:active {
      border-bottom:1px solid darken($blueNimi, 10%);;
    }
  }
  &.btn-lime{
    background:$limeNimi;
    border-bottom:4px solid darken($limeNimi, 10%);
    color:$white;
    &.btn.active, &.btn:active {
      border-bottom:1px solid darken($limeNimi, 10%);;
    }
  }
  &.btn-orange{
    background:$orangeNimi;
    border-bottom:4px solid darken($orangeNimi, 10%);
    color:$white;
    &.btn.active, &.btn:active {
      border-bottom:1px solid darken($orangeNimi, 10%);;
    }
  }
}

.inline-block{
  display: inline-block;
}

.col-xs-5in1,
.col-sm-5in1,
.col-md-5in1,
.col-lg-5in1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5in1 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5in1 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5in1 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5in1 {
    width: 20%;
    float: left;
  }
}



//Header
.header{
  width:100%;
  height:100%;
  display: flex;
  align-items: flex-end;
  margin-bottom:10px;
  .logo{
      &:after{
        color:$redNimi;
        content:'1000+ kanale  nga e gjithë bota';
        font-size:0.9em;
        font-weight:300;
        position: absolute;
        bottom: 10px;
        left: 155px;
    }
  }
  ul{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    justify-content:flex-end;
    li{
      margin:0 1px;
      text-align: center;
      width:75px;
      background:$redNimi;
      color:$white;
      font-size:0.875em;
      border-bottom-left-radius:15px;
      overflow:hidden;
      padding:10px 0;
      @include transition(150ms);
      img{
        margin:0 auto;
        margin-bottom:20px;
      }
      span{
        @include long-shadow(text, darken($redNimi, 10%), 55, true, false, right);
      }
      a{
        width:100%;
        height:100%;
        padding:30px 0 10px 0;
        display: block;
        color:inherit;
        text-decoration: none;
      }
      &:hover, &.active{
        background:lighten($purpleNimi, 5%);
        padding:0;
        box-shadow: inset -5px -5px 0px darken($purpleNimi, 10%);
        span{
          @include long-shadow(text, darken($purpleNimi, 10%), 55, true, false, right);
        }
      }
    }
  }
}
//Header Ends


// Slider
.slider{

  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item, .active.left, .active.right {
        opacity: 0;
      }

      .active, .next.left, .prev.right {
        opacity: 1;
      }

      .next, .prev, .active.left, .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }

  .slider-indicators{
    position: absolute;
    bottom:0;
    z-index:9997;
    width:100%;
    display: flex;
    justify-content: space-around;
    ul{
      list-style: none;
      margin: 0;
      display: flex;
      li{
        color:$white;
        font-size:1.150em;
        width:19%;
        padding: 15px 0 15px 10px;
        border-top-right-radius: $border-radius * 3;
        display: inline-flex;
        overflow:hidden;
        box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.27);
        cursor:pointer;
        @include transition(100ms);
        &:nth-child(1){
          background:rgba($redNimi, .8);
          @include long-shadow(text, darken($redNimi, 10%), 70, true, false, right);
        }
        &:nth-child(2){
          background:rgba($purpleNimi, .8);
          @include long-shadow(text, darken($purpleNimi, 10%), 70, true, false, right);
        }
        &:nth-child(3){
          background:rgba($orangeNimi, .8);
          @include long-shadow(text, darken($orangeNimi, 10%), 70, true, false, right);
        }
        &:nth-child(4){
          background:rgba($blueNimi, .8);
          @include long-shadow(text, darken($blueNimi, 10%), 70, true, false, right);
        }
        &:nth-child(5){
          background:rgba($limeNimi, .8);
          @include long-shadow(text, darken($limeNimi, 10%), 70, true, false, right);
        }
        &:hover, &.active{
          box-shadow: inset 3px 5px 0 rgba(255, 255, 255, 0.27);
          border-top-right-radius: $border-radius / 2;
          border-top-left-radius: $border-radius / 2;
        }
      }
    }

  }
  .item{
    width:100%;
    height:700px;
    > div{
      height:100%;
    }
  }
  .slide1{
    background:url(../img/sliders/slide-1.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    color:$white;

    h1{
      font-size:2.250em;
      letter-spacing:5px;
    }
    h2{
      font-weight:500;
      font-size:1.250em;
      letter-spacing:5px;
      text-align: right;
    }
    p{
      font-size:0.813em;
    }
    .choices{
      display: inline-flex;
      align-items: flex-start;
      text-align: center;
      flex-wrap: wrap;
    }
  }
  .slide2{
    background: #9b65e6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #9b65e6 0%, #5723a4 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #9b65e6 0%,#5723a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #9b65e6 0%,#5723a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b65e6', endColorstr='#5723a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    h2{
      font-size:5.313em;
      font-weight:300;
      b{
        color:$white;
        font-weight:500;
        font-size:1.188em;
        display: inline-block;
      }
    }
    h3{
      color:$white;
      max-width:290px;
      font-weight:300;
      font-size:1.875em;
    }
    p{
      max-width:290px;
      font-size:0.750em;
      color:$white;
      letter-spacing: 1px;
      position: relative;
      &:after{
         content:' ';
         width:488px;
         height:47px;
         position: absolute;
         bottom:-50px;
         left:-45%;
         background:url(../img/sliders/pshadow.png) no-repeat;
       }
    }
  }
  .slide3{
    background:url(../img/sliders/slide-3.jpg) no-repeat;
    background-size:cover;
    color:$white;
    display: flex;
    align-items: flex-end;
    text-align: center;
    h2{
      font-size:1.438em;
      font-weight:500;
    }
    h3{
      font-size:3.500em;
      font-weight:300;
    }
    .whiten{
      filter: brightness(100);
    }
    h4{
      font-size:1.375em;
      font-weight:300;
    }
    h4,p{
      max-width:270px;
      text-align: left;
    }
    p{
      font-size:0.750em;
      color:$white;
      letter-spacing: 1px;
      position: relative;
      &:after{
        content:' ';
        width:488px;
        height:47px;
        position: absolute;
        bottom:-50px;
        left:-35%;
        background:url(../img/sliders/pshadow2.png) no-repeat;
      }
    }
    .nimiSmart{
      position: relative;
      .nimiHolding{
        position: absolute;
        top:-9px;
        left: 100px;
        right:0;
        bottom: 0;
        margin-right:auto;
        margin-left:auto;
      }
    }
  }
  .slide4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    background:url(../img/sliders/slide-4.jpg) no-repeat;
    background-size:cover;
    color:$white;
    h2{
      font-size:1.438em;
      color:darken($purpleNimi, 20%);
      font-weight:500;
    }
    h3{
      font-size:3.500em;
      font-weight:300;
    }
    p{
      max-width:430px;
      position: relative;
      &:after{
        content:' ';
        width:488px;
        height:47px;
        position: absolute;
        bottom:-50px;
        left:-10%;
        background:url(../img/sliders/pshadow2.png) no-repeat;
      }
    }

  }
  .slide5{
    background:url(../img/sliders/slide-5.jpg) no-repeat;
    background-size:cover;
    color:$white;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
      font-size:2.125em;
      margin:0;
      b{
        font-weight:300;
        font-size:1.618em;
      }
    }
  }
}
// Slider Ends


.img-pop{
  position: absolute;
  z-index:2;
  top:0;
  left: 0;
}

/****Option roof starts*****/
.option-roof {
  font-weight: 700;
  position: relative;
  margin: 50px auto 50px auto;
  font-size: 1.2em;
  line-height: 30px;
  color: $white;
  z-index: 0;
  text-align: center;

  &::before {
    width: 25px;
    height: 25px;
    background: $redNimi;
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -3;
  }
  &::after {
    content: "";
    position: absolute;
    border: 2px solid $redNimi;
    top:-25px;
    width: 100%;
    padding: 35px;
    height: 40px;
    border-top-right-radius:250px;
    border-top-left-radius:250px;
    border-bottom: transparent;
  }
}
/****Option roof Ends*****/


/***Footer Starts****/
.footer {
  background: url(../img/footer-bg.jpg) no-repeat;
  height: 612px;
  background-size: cover;
  color: $white;
  h3 {
    font-weight: 700;
  }
  .logo-footer {
    text-align: center;
    margin: 130px auto 45px auto;
    img {
      margin: 0 auto;
    }
  }
  .border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    h4 {
      display: inline-block;
      margin: 0 15px;
    }
    img {
      margin: 0 5px;
    }
  }
  .footer-nav {
    margin-top: 110px;
    margin-bottom: 40px;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        text-transform: uppercase;
        color: $white;
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 414px) {
  .slider{
    .item{
      > div{
        padding-top:60px;
      }
    }
    .slide3{
      h4,p{
        max-width: none;
      }
    }
    .slider-indicators{
      bottom: auto;
      top: 20px;
      left: -20px;
      ul {
        li {
          text-indent: -9999px;
          font-size: 0;
          height: 50px;
          width: 50px;
          margin: 0 5px;
          padding: 0 10px;
          border-radius: 50px;
          &.active {
            border-top-right-radius: 50px;
          }
        }
      }
    }
  }
  .footer {
    .logo-footer {
      margin: 50px auto 15px auto;
    }
    .border-bottom {
      padding-bottom: 20px;
      h4 {
        margin-top: 15px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1025px)
{
  .slider{
    .slide2, .slide3, .slide4{
      .col-sm-12{
        text-align:center;
      }
      h3,p{
        max-width:none;
      }
      p:after{
        left: 18%;
      }
    }
  }
}
/****Footer Ends*****/

@import 'responsive';