@import "global";
.img-responsive{
  display: inline-block;
  margin: 0 auto;
}
/*Tabs Starts*/
.smart-tabs {
  margin: 50px auto 70px auto;
  text-align: center;

  .tv-tabs {
    display: inline-block;
    position: relative;
    max-width: 200px;
    text-align: left;
    margin: 18px;

    .btn-smart {
      border: 1px solid $redNimi;
      color: $redNimi;
      font-weight: 700;
      font-size: 1.2em;
      line-height: 30px;
      text-decoration: none;
      position: relative;
      padding: 10px 25px;
      &::before {
        content: "";
        width: 20px;
        height: 1px;
        background: black;
        display: inline-block;
        position: absolute;
        left: -21px;
        top: 50%;
      }
      &::after {
        content: "";
        width: 1px;
        height: 73px;
        background: black;
        display: inline-block;
        position: absolute;
        left: -21px;
        top: 50%;
      }
    }

    ul {
      display: none;
      list-style-type: none;
      padding: 0;
      position: absolute;
      left: -19px;

      li {
        text-align: left;
        margin-top: 10px;
        a {
          color: $grey;
          &:hover {
            color: $black;
          }
        }
        &::before {
          content: "";
          width: 20px;
          height: 1px;
          background: black;
          display: inline-block;

        }
      }
    }
    .samsung {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &.active {
      .btn-smart {
        background: $redNimi;
        color: white;
      }
      ul {
        display: block;
      }
    }
  }
}
/**Tabs Ends*/


/*header for both parts starts*/
.smart-header {
  h1 {
    font-size: 32px;
    border-bottom: 1px solid lighten($grey, 40px);
    padding: 20px 0;
    margin-bottom: 30px;
    b {
      color: $redNimi;
    }
  }
}

.smart-inner {
  border-bottom: 1px solid lighten($grey, 40px);
  margin-bottom: 70px;
  padding-bottom: 70px;
  img {
    display: inline-block;
  }
  .smart-inner-left {
    a {
      margin: 50px 30px;
    }
    .btn {
      img {
        margin: 0 5px;
        display: inline-block;
      }
    }
  }

  .smart-inner-right {
    .list-style-red {
      padding-left: 15px;
      li {
        list-style-type: none;
        margin: 5px 0;
      }
      li:before {
        background-color: $redNimi;
        content: "";
        padding: 5px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 50%;
      }
    }
  }
}
/*header for both parts ends*/

/***lg part starts***/
.lg-part {
  .instruction {
    margin-bottom: 70px;
  }

  .instal-block {
    margin-bottom: 70px;
    img {
      text-align: center;
      display: inline-block;
    }
    list-style-image: url(../img/options/tick.png);
    .margin30 {
      margin-top: 30px;
    }
    .category {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
/***lg part ends***/

/*****samsung start*****/
.samsung-part {
  ul {
    list-style-type: none;
    li{
      &::before{
        background-color: $redNimi;
        content: "";
        padding: 5px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 50%;
      }
    }
  }
  .section1 {
    margin-top: 45px;
  }
  .margin_top30 {
    margin-top: 30px;
  }
  .section1 p.section2 p, .section3 p {
    margin-top: 25px;
  }
  /*options_tv Starts*/
  .options_tv {
    ol {
      list-style-type: none;
      counter-reset: item;

      li {
        margin-top: 25px;
        &::before {
          content: counter(item);
          counter-increment: item;
          background: $redNimi;
          border-radius: 50%;
          margin-right: 15px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  /*options_tv Ends*/

  .radio-option {
    padding: 10px 0;
    background: #fafafa url(../img/options/radiobg.jpg) no-repeat right;
    margin: 30px 0;
  }
  .catchup-option, .epg-option {
    margin-top: 60px;
  }
  .android_box {
    .header_smart {
      border-bottom: 1px solid #e6e6e6;
      color: #54bce3;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }
  .smart-epg2{
    margin-bottom: 30px;
  }

}
/*****samsung ends*****/


@media (max-width: 1024px) {
  .smart-inner .smart-inner-left a {
    margin: 30px 10px;
  }

}

@media (max-width: 768px) {
  .lg-part {
    .instal-block {
      .cat-tablet {
        margin-top: 50px;
      }
    }
  }
}
@media (max-width: 414px) {
  .smart-inner .smart-inner-left a {
    margin: 10px 10px;
  }
  .smart-tabs {
    margin-bottom: 100px;
  }
  .lg-part {
    .instal-block {
      .cat-tablet {
        margin-top: 0;
      }
      .margin30 {
        margin-top: 0;
      }
    }
  }
}